# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env/
.venv/
env/

# Editor configs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Compiled C files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Pytest
.cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build files
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# pip
pip-log.txt

# Wheels
*.whl
